.li-hoover{
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
}

.li-hoover:hover{
    text-decoration: underline;
}
